<nz-header class="mian-header">
  <div nz-row class="mian-header-box">
    <div nz-col nzSpan="12" class="t-a-l">
      <img src="/assets/images/logo.png" alt="logo" />
    </div>
    <div nz-col nzSpan="12" class="t-a-r">
      <img src="/assets/images/avatar.png" alt="用户头像" class="m-r-20" />
      <span class="m-r-20 c-p">admin</span>
      <span class="m-r-20 user c-p">
        <i class="icon-uk-mine2"></i>
        <i class="dian"></i>
      </span>
      <i class="icon-uk-logout m-r-20 text-normal c-p" (click)="loginOut()"></i>
    </div>
  </div>
</nz-header>
