<form nz-form class="small-form" [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>手机号</nz-form-label>
    <nz-form-control
      [nzSpan]="16"
      [class.has-error]="$control('mobile').invalid && $control('mobile').dirty"
    >
      <nz-input-group nzCompact [nzAddOnBefore]="addOnBeforeTemplate">
        <ng-template #addOnBeforeTemplate>
          <nz-select style="width:150px" formControlName="countrycode">
            <nz-option
              [nzLabel]="option.name"
              [nzValue]="option.code"
              *ngFor="let option of countryCodeList"
            ></nz-option>
          </nz-select>
        </ng-template>
        <input
          type="text"
          nz-input
          placeholder="手机号"
          formControlName="mobile"
        />
      </nz-input-group>
      <nz-form-explain
        class="text-error"
        *ngIf="
          $control('mobile').dirty && $control('mobile').hasError('required')
        "
      >
        {{ "required" }}
      </nz-form-explain>
      <nz-form-explain
        class="text-error"
        *ngIf="
          $control('mobile').dirty && $control('mobile').hasError('mistake')
        "
      >
        {{ "mistake" }}
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>验证码</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input
        type="text"
        nz-input
        placeholder="验证码"
        formControlName="vcode"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" required>新密码</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input
        type="password"
        nz-input
        placeholder="新密码"
        formControlName="newpwd"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" required>确认密码</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input
        type="password"
        nz-input
        placeholder="确认密码"
        formControlName="repwd"
      />
    </nz-form-control>
  </nz-form-item>
</form>
