<form nz-form class="small-form">
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>手机号</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <nz-input-group nzCompact [nzAddOnBefore]="addOnBeforeTemplate">
        <ng-template #addOnBeforeTemplate>
          <nz-select style="width:70px">
            <nz-option [nzLabel]="'option1'" [nzValue]="'option1'"></nz-option>
            <nz-option [nzLabel]="'option2'" [nzValue]="'option2'"></nz-option>
          </nz-select>
        </ng-template>
        <input type="text" nz-input placeholder="手机号" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>
