<nz-table #basicTable [nzData]="tableData" nzBordered>
  <thead>
    <tr *ngFor="let tr of header">
      <ng-container *ngFor="let th of tr.list">
        <th *ngIf="th.isCheckedBox && th.col && th.col > 1" nzShowCheckbox [attr.colspan]="th.col" [(nzChecked)]="isAllChecked" (nzCheckedChange)="onCheckAll($event)">
        </th>
        <th *ngIf="th.isCheckedBox && th.row && th.row > 1" nzShowCheckbox [attr.rowspan]="th.row" [(nzChecked)]="isAllChecked" (nzCheckedChange)="onCheckAll($event)">
        </th>
        <th *ngIf="th.isCheckedBox && !th.row && !th.col" nzShowCheckbox [attr.rowspan]="th.row" [(nzChecked)]="isAllChecked" (nzCheckedChange)="onCheckAll($event)">
        </th>
        <th [attr.colspan]="th.col" *ngIf="!th.isCheckedBox && th.col && th.col > 1" [nzShowSort]="th.isSort" [nzSortKey]="th.sortKey">
          {{ th.title }}
        </th>
        <th [attr.rowspan]="th.row" *ngIf="!th.isCheckedBox && th.row && th.row > 1" [nzShowSort]="th.isSort" [nzSortKey]="th.sortKey">
          {{ th.title }}
        </th>
        <th *ngIf="!th.isCheckedBox && !th.row && !th.col" [nzShowSort]="th.isSort" [nzSortKey]="th.sortKey">
          {{ th.title }}
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tr of basicTable.data">
      <td *ngIf="isShowCheckBox" nzShowCheckbox [(nzChecked)]="mapOfCheckId[tr.id]" (nzCheckedChange)="refreshStatus()"></td>
      <td *ngFor="let td of columnlist">
        {{ tr[td.field] }}
      </td>
    </tr>
  </tbody>
</nz-table>