<div id="login-box">
  <nz-layout>
    <nz-header> </nz-header>
    <nz-content>
      <!-- ssss
<i class="anticon icon-stepbackward"></i> -->
      <div nz-row>
        <div nz-col nzSpan="16"></div>
        <div nz-col nzSpan="8">
          <div class="form-box">
            <div class="form-header">
              <div
                class="form-header-item"
                [ngClass]="loginType === 'acount' ? 'active' : ''"
                (click)="switchLoginType('acount')"
              >
                账号登录
              </div>
              <div
                class="form-header-item"
                [ngClass]="loginType === 'tel' ? 'active' : ''"
                (click)="switchLoginType('tel')"
              >
                快捷登录
              </div>
            </div>
            <form
              nz-form
              [formGroup]="loginForm"
              class="form"
              (ngSubmit)="submitForm()"
            >
              <!-- 用户名 -->
              <nz-form-item>
                <!-- <nz-form-label [nzSm]="7" [nzXs]="24">userName</nz-form-label> -->
                <nz-form-control [nzSm]="24" [nzXs]="24">
                  <input
                    type="text"
                    nz-input
                    formControlName="userName"
                    placeholder="请输入登录账号"
                  />
                  <i class="icon-uk-account login-prefix"></i>
                </nz-form-control>
              </nz-form-item>
              <!-- 密码 -->
              <nz-form-item>
                <!-- <nz-form-label [nzSm]="7" [nzXs]="24">password</nz-form-label> -->
                <nz-form-control [nzSm]="24" [nzXs]="24">
                  <input
                    type="password"
                    nz-input
                    formcontrolName="password"
                    placeholder="请输入密码"
                  />
                  <i class="icon-uk-password login-prefix"></i>
                </nz-form-control>
              </nz-form-item>
              <!-- 忘记密码 -->
              <div nz-row class="form-height">
                <div nz-col nzSpan="24" class="t-a-r">
                  <span (click)="forget()" style="cursor:pointer;"
                    >忘记密码</span
                  >
                </div>
              </div>
              <!-- 按钮 -->
              <nz-form-item nz-row class="form-height">
                <nz-form-control>
                  <button
                    nz-button
                    nzType="primary"
                    [disabled]="!loginForm.valid"
                    nzBlock
                  >
                    {{ loginForm.valid }}-登录
                  </button>
                </nz-form-control>
              </nz-form-item>
              <div nz-row class="form-height">
                <div nz-col nzSpan="24" class="t-a-c">
                  点击登录，表示阅读及同意
                  <a href="">用户协议</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </nz-content>
    <nz-footer> </nz-footer>
  </nz-layout>
</div>
