<div id="login-box">
  <nz-layout>
    <nz-header> </nz-header>
    <nz-content>
      <!-- ssss
<i class="anticon icon-stepbackward"></i> -->
<div nz-row>
    <div nz-col nzSpan="16"></div>
    <div nz-col nzSpan="8">
      <div class="form-box">
        <div class="form-header">
          <div
            class="form-header-item"
            [ngClass]="loginType==='acount'?'active':''"
            (click)="switchLoginType('acount')"
          >
            账号登录test tag
          </div>
          <div
            class="form-header-item"
            [ngClass]="loginType==='tel'?'active':''"
            (click)="switchLoginType('tel')"
          >
            快捷登录
          </div>
        </div>
        <form
          nz-form
          [formGroup]="loginForm"
          class="form"
          (ngSubmit)="submitForm()"
        >
          <!-- 用户名 -->
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="7" [nzXs]="24">userName</nz-form-label> -->
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <input type="text" nz-input formControlName="userName"/>
              <i class="anticon icon-stepforward login-prefix"></i>
              <i class="icon-uk-clearpasswd"></i>              
            </nz-form-control>
          </nz-form-item>
          <!-- 密码 -->
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="7" [nzXs]="24">password</nz-form-label> -->
            <nz-form-control [nzSm]="24" [nzXs]="24">
              <input type="text" nz-input formcontrolName="password" />
            </nz-form-control>
          </nz-form-item>
          <!-- 按钮 -->
          <nz-form-item nz-row>
            <nz-form-control [nzOffset]="7">
              <button
                nz-button
                nzType="primary"
                [disabled]="!loginForm.valid"
              >
                {{ loginForm.valid }}-Register
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
  </div>
    </nz-content>
    <nz-footer> </nz-footer>
  </nz-layout>
</div>
