<input type="button" (click)="onCheckAll(1)" />
<nz-table #basicTable [nzData]="tableData" nzBordered>
  <thead>
    <tr *ngFor="let tr of header">
      <ng-container *ngFor="let th of tr.list">
        <th
          *ngIf="th.isCheckedBox && th.col && th.col > 1"
          nzShowCheckbox
          [attr.colspan]="th.col"
          [(nzChecked)]="isAllChecked"
          (nzCheckChange)="onCheckAll($event)"
        ></th>
        <th
          *ngIf="th.isCheckedBox && th.row && th.row > 1"
          nzShowCheckbox
          [attr.rowspan]="th.row"
          [(nzChecked)]="isAllChecked"
          (nzCheckChange)="onCheckAll($event)"
        ></th>
        <th
          *ngIf="th.isCheckedBox && !th.row && !th.col"
          nzShowCheckbox
          [attr.rowspan]="th.row"
          [(nzChecked)]="isAllChecked"
          (nzCheckChange)="onCheckAll($event)"
        ></th>
        <th
          [attr.colspan]="th.col"
          *ngIf="!th.isCheckedBox && th.col && th.col > 1"
          [nzShowSort]="th.isSort"
          [nzSortKey]="th.sortKey"
        >
          {{ th.title }}
        </th>
        <th
          [attr.rowspan]="th.row"
          *ngIf="!th.isCheckedBox && th.row && th.row > 1"
          [nzShowSort]="th.isSort"
          [nzSortKey]="th.sortKey"
        >
          {{ th.title }}
        </th>
        <th
          *ngIf="!th.isCheckedBox && !th.row && !th.col"
          [nzShowSort]="th.isSort"
          [nzSortKey]="th.sortKey"
        >
          {{ th.title }}
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tr of basicTable.data">
      <td
        *ngIf="isShowCheckBox"
        nzShowCheckbox
        [(nzChecked)]="mapOfCheckId[tr.id]"
      ></td>
      <td *ngFor="let td of columnlist">
        {{ tr[td.field] }}
      </td>
    </tr>
  </tbody>
</nz-table>

<span class="abc" title="北京向日葵科技有限公司">北京向日葵科技有限公司</span>

<div class="parentDrag">
  <!-- 2019-05-22 开始 -->
  <div
    cdkDropList
    class="example-list"
    (cdkDropListDropped)="drop1($event)"
    cdkDropListOrientation="horizontal"
  >
    <div class="example-box" *ngFor="let movie of movies" cdkDrag>
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      {{ movie }}
    </div>
  </div>
  <!-- 2019-05-22 结束 -->
  <!-- 2019-05-23 开始 -->·
  <div cdkDropListGroup style="width: 1500px; border:1px solid green">
    <div class="example-container">
      <div
        cdkDropList
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="list"
        cdkDropListOrientation="horizontal"
        *ngFor="let list of lists"
      >
        <div
          class="example-box"
          *ngFor="let movie of list"
          cdkDrag
          [cdkDragData]="movie"
        >
          <!-- <div class="example-custom-placeholder" *cdkDragPlaceholder></div> -->
          {{ movie }}
        </div>
      </div>
    </div>
  </div>
  <!-- 2019-05-23 结束 -->
</div>
